<h1>Search Page</h1>

<form action="/results" method="GET">
    <p>Search for the movie:</p>
    <input type="text" name="movieName" placeholder="Name of Movie">
    <input type="submit" value="submit">
</form>