body{
    padding-top:70px ;
}

img{
    width: 100%;
    height: 250px;
}

.img-thumbnail{
    margin-bottom: 15px;
}

.bg-light{
    background-color: rgb(40, 40, 161)!important;
}

.nav-link{
    color: white!important;
}

.navbar-brand{
    color: white!important;
}

.navbar-toggler-icon, .white{
    color: white!important;

}

.navbar-toggler{
    border: 1px solid white!important;
}

.navbar-light .navbar-toggler-icon .white{
    background-image: none;
}

.jumbotron{
    color:#2c3e50!important;
}


