#container{
    display: flex;
    justify-content: space-between;
}

h1{
    text-align: center;
}

#container div{
    width: 30%;
    position: relative;
}

img{
    width: 100%;
    height: 250px;
}

i{
    position: absolute;
    top: 46%;
    left: 46%;
}

img + .fa-camera-retro{
    color: red;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.fa-paw{
    color: gray;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.fa-cloud{
    color: teal;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
}

#photo{
    background-color: red;
    height: 250px;
}

#animal{
    background-color: gray;
    height: 250px;
}

#cloud{
    background-color: teal;
    height: 250px;
}


#container div:hover img{
    opacity: 0.3;
    filter: grayscale(100);
}

i{
    transform: scale(0);
}

#container div:hover i{
    transition-delay: 0.2s;
    transform: scale(2);
}

#container div *{
    transition: all 0.5s ease-in-out;
}
