h1{
    font-family: sans-serif;
    text-align: center;
    color: rgb(92, 88, 88);
    margin-bottom: 50px;
}

#circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-bottom: 20px solid rgb(0, 128, 62);
    border-left: 20px solid gray;
    border-top: 20px solid rgb(0, 89, 255);
    border-right: 20px solid gray;
    margin: 0 auto;
    /* animation-name: rotateCircle;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
    animation: rotateCircle 3s linear infinite;
}

h3{
    font-family: sans-serif;
    text-align: center;
    color: rgb(92, 88, 88);
    margin-top: 50px;
    animation: appear;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes rotateCircle{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}