<% include partials/header %>

<h1>This is home page!!!</h1>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5OLyxTPTiSAjsg-PopW3exGBlBr97QaQpFYF4c78Ge2p1sbs70A" alt="" width="50%">

<% include partials/footer %>
